.container
  %h2.title All Boards
  .board
    %p.board-name Name
    .dropdown
      = image_tag 'Combined Shape.png', class: 'dropbtn'

    %p.board-description Description

    = image_tag 'Users.png', class: 'board-avatar'
  
  .new-board
    %p.new-board-add + Add new board