@import 'variables';
@import 'cards';
@import 'buttons';
@import 'forms';
@import 'commons';
@import 'tasks';
@import 'flash';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: $font-lg;
  color: $text-base-color;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  color: $text-base-color
}

.container {
  padding: 32px 26px;
  width: 100%;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 22px 8px 30px;

  &-home {
    float: left;
    line-height: 40px;
  }

  &-avatar {
    float: right;
    height: 40px;
    width: 40px;
  }

  &:after {
    content:"";
    display: block;
    clear: both;
  }

}