@import 'variables';

$board-ht: 161px;
$board-br: 6px;

.board {
  padding: 32px 16px 20px 17px;
  height: $board-ht;
  border-radius: $board-br;
  background-color: $form-color;
  margin-bottom: 26px;

  &-name {
    font-size: $font-lg;
    margin-bottom: 6px;
    float: left;
  }

  &-actions:after {
    content:"";
    display: block;
    clear: both;
  }

  &-description {
    font-size: $font-sm;
    opacity: 0.4;
    margin-bottom: 30px;
  }

  &-avatar {
    height: 30px;
    width: 30px;
  }
}

.new-board {
  height: $board-ht;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: $board-br;

  &-add {
    line-height: $board-ht;
    display: block;
    text-align: center;
  }

}