@import 'variables';

$board-ht: 161px;
$board-br: 6px;

.board {
  position: relative;
  padding: 32px 52px 0 17px;
  height: $board-ht;
  border-radius: $board-br;
  background-color: $form-color;
  margin-bottom: 26px;

  &-name {
    font-size: $font-lg;
    margin-bottom: 6px;
  }

  &-description {
    font-size: $font-sm;
    opacity: 0.4;
  }

}

.dropdown {
  position: absolute;
  right: 16px;
  top: 39px;
  width: 24px;
  height: 6px;
}

.board-avatar {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 30px;
  width: 30px;

}

.new-board {
  height: $board-ht;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: $board-br;

  &-add {
    line-height: $board-ht;
    display: block;
    text-align: center;
  }

}