@import 'variables';

.profile {
  &-user-name {
    float: left;
  }

  &-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
  }

  &-user-name {
    font-size: $font-lg;
    margin-bottom: 28px;
    font-weight: bold;
  }

  &-introduction {
    font-size: $font-sm;
  }
}

.file-field {
  margin-bottom: $form-mb;
}